.App {
    text-align: center;
    background-color: #DED0B6;
    background-size: 100%;
  }
.ButtonStyle{
  background-color: #B2A59B;
  border-radius: 5px;
  border: 1px solid #607274;
  padding: 5px;
  margin: 5px;
  float: right;
}
.ButtonStyle:hover{
  background-color: #756b64;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #607274;
  padding: 5px;
  margin: 5px;
  float: right;
}
.navbarStyle {
  background-color: #607274;
  padding: .1rem 1rem !important
 }
.BTableStyle{
  background-color: #FAEED1;
  size: auto;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: large;
}
.BTableStyle tr:hover{
  background-color: #d5d5bf;
  border: none;
  padding: 5px;
  font-size: large;
}